01/.vscode/settings.json
02/.vscode/settings.json
*.o
03/dl
03/.vscode/settings.json
03/.vscode/c_cpp_properties.json
01/out
03/out
01/valgrind.sh
03/obtained_output.txt
03/output_executable
03/valgrind_report.txt
*.cbp
07/take_two/.vscode/settings.json
07/take_two/output_executable
07/.vscode/settings.json
07/.vscode/c_cpp_properties.json
07/output_executable
07/HangMan.depend
07/HangMan.layout
07/HangTheMan.depend
